.clearfix() {
    *zoom: 1;
    &:before,
    &:after {
        display: table;
        content: "";
        // Fixes Opera/contenteditable bug:
        // http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
        line-height: 0;
    }
    &:after {
        clear: both;
    }
}

.transition(@transition){
    -webkit-transition: @transition;
    -moz-transition: @transition;
    -o-transition: @transition;
    transition: @transition;
}

.opacity(@val) {
    @ie: @val * 100;
    -ms-filter: ~"progid:DXImageTransform.Microsoft.Alpha(Opacity=@{ie})"; // IE 8
    filter: ~"alpha(opacity=@{ie})"; // IE 5-7
    opacity: @val;
}