{% load wagtailsite_tags cache compress static wagtailuserbar %}

<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}</title>

        <meta name="description" content="{% if self.search_description %}{{ self.search_description }}{% endif %}">

        <!--[if lt IE 9]>
            <script src="{% static "wagtailsite/js/vendor/html5shiv.js" %}"></script>
        <![endif]-->

        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" />
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Varela" />
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"  />

        {% compress css %}
            <link rel="stylesheet" href="{% static "wagtailsite/css/colorbox.css" %}" />
            <link rel="stylesheet" href="{% static "wagtailsite/css/styles.less" %}" type="text/less" />
        {% endcompress %}

        {% compress js %}
        {% endcompress %}

        <link rel="shortcut icon" href="{% static "wagtailsite/images/wagtail-favicon-32x32.ico" %}" />

        {% block extra_css %}{% endblock %}
    </head>

    <body class="page-{{ self|content_type }} title-{{ self.title|slugify }} pageid-{{ self.id }} {% block body_class %}{% endblock %}">
        {% wagtailuserbar %}

        <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-5XDDLH"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5XDDLH');</script>

        <div id="nav-wrap">
            <nav>
                <a id="logo" href="/">
                    <img src="{% static "wagtailsite/images/navlogo2.png" %}">
                </a>
                <ul class="menu">
                    <li class="blog"><a href="/blog/">Blog</a></li>
                    <li><a href="/#get">Get Wagtail</a></li>
                    <li><a href="/#why">FAQs</a></li>
                    <li><a href="/#testimonials">Testimonial</a></li>
                    <li><a href="/#features">What's so good?</a></li>
                </ul>
            </nav>
        </div>
        <div id="container">

            {% block content %}{% endblock %}

            <hr>
            <div id="mailing-list">
                <h2>Stay up to date with Wagtail.</h2>

                <!-- Begin MailChimp Signup Form -->
                <link rel="stylesheet" href="http://cdn-images.mailchimp.com/embedcode/classic-081711.css">
                <link rel="stylesheet" href="{% static "wagtailsite/css/mcembed.css" %}" />

                <div id="mc_embed_signup">
                    <form action="http://torchbox.us1.list-manage.com/subscribe/post?u=fa038e191e9c77563d1c3bfa4&amp;id=a931fc0c9a"
                    method="post" id="mc-embedded-subscribe-form"
                    name="mc-embedded-subscribe-form" class="validate" target="_blank"
                    novalidate>
                    <div class="mc-field-group">
                    <input type="email" value="Your email address..." name="EMAIL" class="required email" id="mce-EMAIL" onfocus="this.value=''">
                    </div>
                    <div id="mce-responses" class="clear">
                    <div class="response" id="mce-error-response" style="display:none"></div>
                    <div class="response" id="mce-success-response" style="display:none"></div>
                    </div>    <!-- real people should not fill this in and expect good
                    things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;"><input type="text"
                    name="b_fa038e191e9c77563d1c3bfa4_a931fc0c9a" value=""></div>
                    <div class="clear"><button type="submit"
                    name="subscribe" id="mc-embedded-subscribe" class="button">Sign up</button></div>
                    </form>
                </div>

                <!--End mc_embed_signup-->

                <a class="btn" href="https://twitter.com/wagtailcms" target="_blank"><i class="fa fa-twitter"></i></a>
                <a class="btn" href="https://github.com/torchbox/wagtail/" target="_blank"><i class="fa fa-github"></i></a>
            </div>
            <div id="footer">
                <p>Wagtail is powered by <a href="http://www.djangoproject.com" target="_blank">Django</a> and released under the <a href="https://github.com/torchbox/wagtail/blob/master/LICENSE" target="_blank">BSD License</a>.</p>
                <p>View <a href="http://torchbox.github.io/wagtail/" target="_blank">the documentation</a> or visit Wagtail on <a href="https://github.com/torchbox/wagtail/" target="_blank">GitHub</a>.</p>
                <p>Would you like Torchbox to build your new website with Wagtail? <a href="mailto:hello@wagtail.io">Get in touch.</a></p>
                <div id="footerlogo">
                    <a href="http://www.torchbox.com" target="_blank"><img src="{% static "wagtailsite/images/tbxlogo.png" %}"></a>
                </div>
                <p>Copyright &copy; 2014 <a href="http://www.torchbox.com" target="_blank">Torchbox Ltd</a></p>
            </div>
        </div>

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

        {% compress js %}
            <script src="{% static "wagtailsite/js/vendor/jquery.colorbox.js" %}"></script>
            <script src="{% static "wagtailsite/js/vendor/jquery.history.js" %}"></script>
            <script src="{% static "wagtailsite/js/vendor/jquery.velocity.js" %}"></script>
            <script src="{% static "wagtailsite/js/mcembed.js" %}"></script>
            <script src="{% static "wagtailsite/js/scripts.js" %}"></script>
        {% endcompress %}

        {% block extra_js %}{% endblock %}
    </body>
</html>
